
h1{
    color: rgb(2, 59, 59);
    text-align: center;
    font-size: 80px;
    background-color: rgb(176, 150, 245);
    text-decoration: underline;
    text-decoration-color: brown;
    
}

p{
color: blueviolet;
font-style: italic;
}

h3
{
    font-size: x-large;
    font-style: italic;
}
/* Combining Selectors*/
h1,
h2,
h3,
h4,
li{
    font-family: sans-serif;
}

h1
{
    font-size: medium;
    color: black;
}

h3{
    font-size: x-large;
    font-style: italic;

}
.series
{
    font-size: 15px;
    color: red;
}










/*  Decendant Selector*/
footer p{

    font-size: 20px;
}

